@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*, *::before, *::after{
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.calculator{
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 425px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 0px;
}

.output{
    height: 200px;
    width: 385px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 15px;
    background-color: rgba(250,250,250,.75);
    margin: 10px;
    border: 5px solid black;
    border-radius: 25px;
}
    .previous-operand{
        margin: 0;
        padding: 0;
    }

    .current-operand{
        margin: 0;
        padding: 0;
    }

.button-grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    margin: 5px;
}

    .span-two{
        grid-column: span 2;
    }

.button-grid > button{
    outline: none;
    background-color: rgba(250,250,250,1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-grid > button:hover{
    background-color: rgba(250,250,250,.9);
}

.secret-buttons{
    display: flex;
}

.secret-buttons > button{
    width: 40px;
    cursor: pointer;
    height: 20px;
    margin: 15px;
    margin-top: 0px;
    background-color: lightgray;
    border: none;
}

.rotated-calculator{
    transform: rotate(180deg);
}